.semaforo {
    width: 230px;
    height: 500px;
    background-color: black;
    border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .colores {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Rojo,
  .Amarillo,
  .Verde {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 10px;
  }
  
  .Rojo {
    background: red;
  }
  
  .Amarillo {
    background: yellow;
  }
  
  .Verde {
    background: green;
  }
  .glow{
    box-shadow: 2px -1px 41px 39px rgba(217,210,35,0.75);
    opacity: 1 !important;
}

.ligth{
    width: 110px;
    height: 150px;
    cursor: pointer;
    opacity: 0.4;
}